html {
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    background: #EEE3AB;
}

header {
    flex: 1 1 1;
}

main {
    flex: 1 1 1;
}

picture {
    position: relative;
    text-align: center;
}

.banner {
    opacity: 40%;
    width: 50vw;
    height: 100vh;
    flex: 1 1 1;
}

.titleBreakfast {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 3rem;
    font-weight: bolder;
    color: #6F4E37;
    flex: 1 1 1;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    margin: 1rem 0;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0D0630;
}

button {
    background: #6F4E37;
    width: 100%;
    color: white;
    border: none;
    border-radius: 20px;
    align-self: center;
}

.bdayTitle {
    display: block;
}